<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sky.mapper.OrderMapper">

    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        insert into orders(number,
                           status,
                           user_id,
                           address_book_id,
                           order_time,
                           checkout_time,
                           pay_method,
                           pay_status,
                           amount,
                           remark,
                           phone,
                           address,
                           user_name,
                           consignee,
                           cancel_reason,
                           rejection_reason,
                           cancel_time,
                           estimated_delivery_time,
                           delivery_status,
                           delivery_time,
                           pack_amount,
                           tableware_number,
                           tableware_status)
        values (#{number},
                #{status},
                #{userId},
                #{addressBookId},
                #{orderTime},
                #{checkoutTime},
                #{payMethod},
                #{payStatus},
                #{amount},
                #{remark},
                #{phone},
                #{address},
                #{userName},
                #{consignee},
                #{cancelReason},
                #{rejectionReason},
                #{cancelTime},
                #{estimatedDeliveryTime},
                #{deliveryStatus},
                #{deliveryTime},
                #{packAmount},
                #{tablewareNumber},
                #{tablewareStatus})
    </insert>

    <update id="update">
        update orders
        <set>
            <if test="status != null">status = #{status},</if>
            <if test="checkoutTime != null">checkout_Time = #{checkoutTime},</if>
            <if test="payStatus != null">pay_status = #{payStatus},</if>
            <if test="cancelReason != null">cancel_Reason = #{cancelReason},</if>
            <if test="rejectionReason != null">rejection_Reason = #{rejectionReason},</if>
            <if test="cancelTime != null">cancel_Time = #{cancelTime},</if>
            <if test="deliveryStatus != null">delivery_Status = #{deliveryStatus},</if>
            <if test="deliveryTime != null">delivery_Time = #{deliveryTime},</if>
        </set>
        where id = #{id}
    </update>

    <select id="pageQuery" resultType="com.sky.entity.Orders">
        select * from orders
        <where>
            <if test="number != null">and number like concat('%',#{number},'%')</if>
            <if test="phone != null">and phone like concat('%',#{phone},'%')</if>
            <if test="status != null">and status = #{status}</if>
            <if test="beginTime != null and endTime != null">and order_time between #{beginTime} and #{endTime}</if>
            <if test="userId != null">and user_Id = #{userId}</if>
        </where>
        order by order_time desc
    </select>

    <select id="getById" resultType="com.sky.entity.Orders">
        select * from orders where id = #{id}
    </select>

    <select id="list" resultType="com.sky.entity.Orders">
        select * from orders
        <where>
            <if test="number != null">and number like concat('%',#{number},'%')</if>
            <if test="phone != null">and phone like concat('%',#{phone},'%')</if>
            <if test="status != null">and status = #{status}</if>
            <if test="userId != null">and user_Id = #{userId}</if>
        </where>
        order by order_time desc
    </select>

    <select id="count" resultType="java.lang.Integer">
        select count(0) from orders
            <where>
                <if test="status != null">status = #{status}</if>
            </where>
    </select>

    <select id="getOrderByStatusAndTimeLT" resultType="com.sky.entity.Orders">
        select * from orders where status = #{status} and order_time &lt; #{orderTime}
    </select>

    <select id="turnoverStatistics" resultType="java.lang.Double">
        select sum(amount) from orders where order_time between #{begin} and #{end} and status = #{status}
    </select>

    <select id="ordersStatistics" resultType="java.lang.Integer">
        select count(0) from orders
        <where>
            <if test="begin != null">order_time &gt;= #{begin}</if>
            <if test="end != null">and order_time &lt;= #{end}</if>
            <if test="status != null">and status = #{status}</if>
        </where>
    </select>

    <select id="top" resultType="com.sky.dto.GoodsSalesDTO">
        select count(0) as number, name from orders left join order_detail on orders.id = order_detail.order_id
        where status = #{status} and order_time between #{begin} and #{end}
        group by name order by number desc limit #{rank};
    </select>

</mapper>
