<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sky.mapper.ShoppingCartMapper">

    <insert id="insert">
        insert into shopping_cart(name, image, user_id, dish_id, setmeal_id, dish_flavor, number, amount, create_time)
        values (#{name}, #{image}, #{userId}, #{dishId}, #{setmealId}, #{dishFlavor}, #{number}, #{amount}, #{createTime})
    </insert>

    <update id="update">
        update shopping_cart
        <set>
            <if test="name != null">name = #{name},</if>
            <if test="image != null">image = #{image},</if>
            <if test="userId != null">user_Id = #{userId},</if>
            <if test="dishId != null">dish_Id = #{dishId},</if>
            <if test="setmealId != null">setmeal_Id = #{setmealId},</if>
            <if test="dishFlavor != null">dish_Flavor = #{dishFlavor},</if>
            <if test="number != null">number = #{number},</if>
            <if test="amount != null">amount = #{amount}</if>
        </set>
        where id = #{id}
    </update>

    <delete id="delete">
        delete from shopping_cart
        <where>
            <if test="id != null">and id = #{id}</if>
            <if test="userId != null">and user_Id = #{userId}</if>
            <if test="dishId != null">and dish_Id = #{dishId}</if>
            <if test="setmealId != null">and setmeal_Id = #{setmealId}</if>
            <if test="dishFlavor!= null">and dish_Flavor like concat('%',#{dishFlavor},'%')</if>
        </where>
    </delete>

    <select id="list" resultType="com.sky.entity.ShoppingCart">
        select * from shopping_cart
        <where>
            <if test="id != null">and id = #{id}</if>
            <if test="userId != null">and user_Id = #{userId}</if>
            <if test="dishId != null">and dish_Id = #{dishId}</if>
            <if test="setmealId != null">and setmeal_Id = #{setmealId}</if>
            <if test="dishFlavor!= null">and dish_Flavor like concat('%',#{dishFlavor},'%')</if>
        </where>
    </select>

</mapper>